#size-variants a.btn-link.active::after {
    content: '';
    border-bottom : 5px solid var(--primary-color-shade);
    width: 48px;
    display: block;
    position: absolute;
    top: 30px;
    left: -2px;
}