@import "variable.css";
body,html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--primary-font-size);
    width: 100%;
    color: var(--secondary-color-shade);
    height: 100%;
}

@media (min-width: 780px) {
    .d-mobile-block {
        display: none !important;
    }

    .d-mobile-flex {
        display: none !important;
    }

    .d-desktop-block {
        display: block !important;
    }

    .d-desktop-flex {
        display: flex !important;
    }
}
@media (max-width: 780px) {
    .d-mobile-block {
        display: block !important;
    }

    .d-mobile-flex {
        display: flex !important;
    }

    .d-desktop-block {
        display: none !important;
    }

    .d-desktop-flex {
        display: none !important;
    }
}