@import url("variable.css");
@import url("color.css");

body,html {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--secondary-color-shade);
}

/* custom brakpoints rule */
@media (min-width: 768px) {
    .d-mobile-block {
        display: none !important;
    }

    .d-mobile-flex {
        display: none !important;
    }

    .d-desktop-block {
        display: block !important;
    }

    .d-desktop-flex {
        display: flex !important;
    }
}
@media (max-width: 768px) {
    .d-mobile-block {
        display: block !important;
    }

    .d-mobile-flex {
        display: flex !important;
    }

    .d-desktop-block {
        display: none !important;
    }

    .d-desktop-flex {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

/* bootstrap overrides */
.btn-link:hover {
    color: var(--secondary-color-shade);
    text-decoration: none;
}
input[type=text],
input[type=password],
input[type=email] {
    height: 52px;
    background-color: var(--seondary-color-shade-lightest);
    border: 1px solid var(--seondary-color-shade-lighter)
}
hr {
    border-width: 1px;
    border-top: 1px solid var(--secondary-color-shade);
}
.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--primary-color-shade);
    border-color: var(--primary-color-shade);
}
.custom-control-label::before {
    border: var(--primary-color-shade) solid 2px;
}

/* custom utilities classes */

img.logo {
    width: 200px;
}
.cursor-pointer {
    cursor: pointer;
}
.bottom-0 {
    bottom: 0;
}
.high-z-index {
    z-index: 999;
}

.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}
.fs-25 {
    font-size: 25px;
}
.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}