/* CSS custom notation (variables) */
:root {
    --primary-shade: #323332;
    --secondary-shade: #1A47A6;
    --grey-shade: #CCCCCC;
    --grey-shade-dark: #70706F;
    --grey-shade-light: #939598;
}
