/* CSS custom notation (variables) */
:root {
    --primary-font-size: 16px;
    --primary-color-shade: #70AE3E;
    --primary-color-shade--light: #D6FFD7;
    --primary-color-shade--dark: #18621A;

    --secondary-color-shade: #32363B;

    --black-color: #000000;
    --white-color: #ffffff;
    --off-white-color: #f7f7f7;
}
